/*
** homebank documentation css

http://webdesign.about.com/od/colorpalettes/ig/Color-Palettes/Apple-Color-Palette.-EQ5.htm
    #979797
    #666666
    #eeeeee
    #000000
    #0088cc
	#cc8800
*/
/* suggested line-height:140% */
body {
	font: 14px/18px 'Open sans',sans-serif;
	line-height:140%;
	color: #333;
	background-color: #F5F6F7;
}

a {
	color: #08c;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1,h2,h3,h4,h5,h6 {
/*font-family: Times, 'Times New Roman', serif; font-style:italic;*/
	color: #000;
	font-weight: 400;
}

h1:first-of-type,h2:first-of-type,h3:first-of-type {
	margin-top: 0;
}

/*h1 { color: #f57900; margin-top:0; }
h2 { color: #3465a4; }
h3 { color: #484848; }
h4 { color: #484848; }
h5 { color: #484848; }*/
/*
h2 { color: #fe9500; }
h3 { color: #4686c0; }
h4 { color: #3c3c3c; }
h4 img { vertical-align: baseline; padding: 4px; }
*/
ul {
/*list-style-type:square;*/
	overflow: hidden;
}

p {
	margin-left: 1.5em;
}

ol li {
	margin-top: .5em;
}

.padleft {
	margin-left: 3em;
}

.toc li {
/*list-style:none;*/
	list-style-image: url(images/arrow.png);
}

.step li {
	line-height: 20px;
}

.csvexample {
	font-family: monospace;
	border: 1px solid #ddd;
	background: #efefef;
	white-space: pre;
	margin-left: 16px;
	width: 50%;
	padding: 8px;
}

.argument {
	color: #888;
	font-size: 110%;
}

.rounded {
	border-radius: 4px 4px 4px 4px;
}

.mainpage {
	margin-top: 100px;
}

.mainpage p {
	margin-left: 0;
	padding: 0;
	text-align: center;
}

.dochead {
	border-bottom: 1px solid #E1E1E1;
	padding-bottom: 8px;
	color: #888;
}

.title {
	border-top: 1px solid #FFF;
	padding: 16px;
}

.top {
	margin: 0;
	padding: 0;
	font-size: x-small;
}

.content {
	background-color: #fff;
	padding: 16px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	margin: 0 1em 1.5em 0;
}

/* navigation link */
.navig a {
	color: #484848;
	padding: 0 10px;
}

.navig a:hover {
	background: #DDD;
	text-decoration: none;
	border-radius: 5px;
}

.navig p {
	margin: 1em;
}

.head {
	border-top: 1px solid #babdb6;
	background-image: url(images/top-gradient.png);
	background-repeat: repeat-x;
	background-position: top;
	height: 30px;
	margin-top: 4px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.gtkshot {
	padding: 2px;
	margin: 1em;
	text-align: center;
	border: 1px dashed #979797;
/*#005C9C;*/
/*	background-image:url(images/top-gradient.png);
	background-repeat:repeat-x;
	background-position:top; */
}

.gtkshot:first-of-type {
	margin-top: 0;
}

.gtkgroup {
	margin-left: 16px;
	padding: 0;
	background: red;
}

.gtkgrouptitle {
	font-weight: 700;
	color: #000;
}

.concept p {
	margin-left: 16px;
}

.concept h4 {
	margin-bottom: 0;
}

.note {
	border: solid 1px #eee;
	background: #efefef;
	margin: 16px;
	padding: 8px;
}

/* table */
table {
	line-height: 120%;
	margin-bottom: 16px;
}

td,th {
	vertical-align: top;
}

.lexicon {
	width: 100%;
	table-layout: fixed;
}

.lexicon td,th {
	width: 20%;
	text-align: left;
}

.hotkeys {
	table-layout: fixed;
	margin-left: 16px;
}

.hotkeys td,th {
	padding: 4px;
	border: 1px solid #E1E1E1;
	vertical-align: middle;
}

.t2col td {
	width: 50%;
}

.widgetinfo {
	margin-left: 1.5em;
}

.widgetinfo th,.widgetinfo td {
	border: 1px solid #E1E1E1;
	text-align: left;
	vertical-align: top;
	padding: 2px 4px;
}

.widgetinfo th {
	min-width: 80px;
	width: 20%;
	background-color: #DEDEDE;
	font-weight: 400;
}

.widgetinfo td {
	background-color: #fff;
	background-color: #EFEFEF;
}

.warning {
	color: #c80;
}

.i {
	font-style: italic;
}

.u {
	text-decoration: underline;
}